:root {
    --primary-background : #282a36;
    --primary-foreground : #f8f8f2;
    --bright-foreground  : #ffffff

    --normal-black       : #21222c;
    --normal-red         : #ff5555;
    --normal-green       : #50fa7b;
    --normal-yellow      : #f1fa8c;
    --normal-blue        : #bd93f9;
    --normal-magenta     : #ff79c6;
    --normal-cyan        : #8be9fd;
    --normal-white       : #f8f8f2;

    --bright-black       : #6272a4;
    --bright-red         : #ff6e6e;
    --bright-green       : #69ff94;
    --bright-yellow      : #ffffa5;
    --bright-blue        : #d6acff;
    --bright-magenta     : #ff92df;
    --bright-cyan        : #a4ffff;
    --bright-white       : #ffffff;

    --dim-black          : #14151b;
    --dim-red            : #ff2222;
    --dim-green          : #1ef956;
    --dim-yellow         : #ebf85b;
    --dim-blue           : #4d5b86;
    --dim-magenta        : #ff46b0;
    --dim-cyan           : #59dffc;
    --dim-white          : #e6e6d1;
}

@media (prefers-color-scheme: dark) {
    html:not(.light-mode) {
        --primary-color: var(--normal-blue);
        --primary-dark-color: var(--dim-blue);
        --primary-light-color: var(--bright-blue);
        --primary-lighter-color: var(--normal-blue);
        --primary-lightest-color: var(--dim-blue);

        --page-background-color: var(--primary-background);
        --page-foreground-color: var(--primary-foreground);
        --page-secondary-foreground-color: var(--dim-white);
        --separator-color: var(--normal-black);
        --side-nav-background: var(--dim-black);

        --code-background: var(--dim-black);

        --tablehead-background:var(--dim-black);

        /*--blockquote-background: #1f2022;*/
        /*--blockquote-foreground: #77848a;*/

        /*--warning-color: #b61825;*/
        /*--warning-color-dark: #510a02;*/
        /*--warning-color-darker: #f5b1aa;*/
        /*--note-color: rgb(255, 183, 0);*/
        /*--note-color-dark: #9f7300;*/
        /*--note-color-darker: #645b39;*/
        /*--todo-color: rgba(100,160,200,.3);*/
        /*--todo-color-dark: #00C0E0;*/
        /*--todo-color-darker: #dcf0fa;*/
        /*--deprecated-color: rgb(88, 90, 96);*/
        /*--deprecated-color-dark: #262e37;*/
        /*--deprecated-color-darker: #a0a5b0;*/
        /*--bug-color: rgb(248, 113, 0);*/
        /*--bug-color-dark: #812a00;*/
        /*--bug-color-darker: #ffd3be;*/
    }
}
